<header class="header">
  <div class="header-content">
    <button pButton type="button" icon="pi pi-bars" class="icon-button" (click)="onToggleSidebar()"></button>
    <h1 class="header-title">Gestión de Domicilios</h1>
    <div class="header-icons">
      <button pButton type="button" icon="pi pi-bell" class="icon-button"></button>
      <button pButton type="button" icon="pi pi-user" class="icon-button"></button>
    </div>
  </div>
  <div class="wave-container">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
  </div>
</header>
