<footer class="footer">
  <div class="footer-left">
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a></li>
    </ul>
  </div>
  <div class="footer-center">
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Inicio</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Acerca de</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Servicios</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contacto</a></li>
    </ul>
  </div>
  <div class="footer-right">
    <p>&copy;2024 Tu Empresa | Todos los derechos reservados</p>
  </div>
  <div class="wave" id="wave1"></div>
  <div class="wave" id="wave2"></div>
</footer>
